<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Compliment</title>
  </head>
  <body>
    <h2>Add Your New Compliment Here!</h2>
    <form action="/add" method="POST">
      <label for="new-compliment-text">New compliment</label>
      <input id="new-compliment-text" name="new-compliment-text" type="text">
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
