<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Complimenter</title>
  </head>
  <body style="background-color: <%=randomBackgroundColor %> ;">
    <p> <%= nameGiven %> <%= randomCompliment %> </p>
  </body>
</html>
