<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Compliments Yo Self</title>
</head>
<body style='background-color: <%=getColors %>'>
  <h1>Hello, <%= nameOfperson %>!</h1>
  <p><a href="<%= nextCompliment %>"><%= nextCompliment %></a></p>

</body>
</html>
