<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Emengency Compliments</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<h1 style="color: red">Here are your free compliments:</h1>
<p><%= inputName %><%= randomComp %></p>
</body>
</html>
