<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Compliment</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body style="text-align:center; color: <%=color%>;background: <%=background%>">
    <header>
      <h1>You have a bad day?</h1>
    </header>

    <main>
      <p>Your compliment: <%= compliment %></p>

    </main>

    <footer>
      <p>Hope it works out for ya!</p>
    </footer>
  </body>
</html>
