<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Compliment</title>
  </head>
  <body>
    <h1>emergency compliment room</h1>
    <!-- ER/medical/code theme lol -->
    <a class="next-compliment" href="#">Hang another bag of Compliment I.V. Drip!</a>
  </body>
</html>
