<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p><%= name%> <%= compliment%></p>
	<p>I generated the random color : <%=color%> but Fran has no Idea how to style .ejs files :(</p>
</body>
</html>