<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Compliments</title>
  </head>
  <body style='background-color: <%= getColor %>'>
    <p> <%= personalMessage %></p>
    <p> <%= compliment %></p>
  </body>
</html>
