<!DOCTYPE html>
<html>
<head>
  <title>Random Compliment Machine</title>
</head>
<body style='background-color: <%= randomColor %>'>
  <h1> <%= randomQuote %> </h1>
  <form method='post'>
    <input type='text' name='name' id='name'>
    <button type='submit'>Submit</button>
  </form>
</body>
</html>
